.flex_content {
    display: flex;
}
.flex_post {
    width: 100%;
}
.post-content {
    text-align: left !important;
}
.header-content {
    text-align: left;
    width: 100%;
    background-color: #9393a3;
    font-size: small;
}
.thumbnail {
    padding-left: 5px;
    padding-top: 5px;
    padding-bottom: 20px;
    width: 200px;
    height: auto;
    float:left;
    margin-right:10px;

}
.img {
    width: 100%;
}
.post {
    border-color: #53535c;
    border-style: solid;
    background-color: #a0a0a8;
    float: left;
    width: 100%;
    height: auto;
    word-wrap: break-word;
    font-size: small;

}
.post-container {
    margin-bottom: 20px;
    padding-bottom: 350px;
}
