
.post-content {
    text-align: left !important;
    padding: 5px;


}
.header-content {
    text-align: left;
    width: 100%;
    background-color: #a0a0a8;
    font-size: small;

}
.reply-thumbnail {
    padding-left: 5px;
    padding-top: 5px;
    padding-bottom: 20px;
    height: 100px;
    width: auto;
    float:left;
    margin-right:10px;

}
.img-reply {
    width: 100%;
    background-color: #b4b4bf;

}
.reply {
    border-style: solid;
    border-color: #53535c;
    float: left;
    height: 100px;
    width: 100%;
    word-wrap: break-word;
    font-size: small;
    background-color: #a0a0a8;

}
