.custom-sidebar {
    min-height: 100%;
    min-width: 200px;
    max-width: 15%;
    top: 0;
}

.custom-navbar {
    min-height: 100%;
    min-width: 200px;
    max-width: 15%;
   padding: 10px;
    align-items: start;
}

.nav-link {
    color: white;
    text-align: left;
    width: 180px;
    padding: 1px;
}

.navbar-brand {
    text-align: center;
    padding-bottom: 20px;
    padding-top: 20px;
    margin: 0;
}




